/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/public/uploads
composer.lock
.DS_Store
public/.DS_Store
public/js/.DS_Store
public/build
/public/storage
public/static
/storage
artisan
db.sql
gulpfile
Minafile
phpspec.yml
/tests
/resources/views/vendor
/resources/views/errors
/resources/views/elements/